{% extends 'adminsite/loginbase.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Password Reset Sent</h4>
                </div>
                <div class="card-body text-center">
                    <p>An email has been sent with instructions to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
